.navbar-container{
    width: 100%;
    align-items: center;
}

.address-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.address-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width : 450px
}
.icon{
    width: 20px;
    height:16px;
    margin-right: 10px;
          cursor: pointer;     

}


.address-container p{
    font-size: 15px;
}

.address-container p:first-of-type {
  margin-right: 40px;
        cursor: pointer;     

}

.icon-container{
    display: flex;
    gap: 13px;
    padding: 10px;
    margin-left: 480px;
          cursor: pointer;     

    
}

.icon1{
    width: 30px;
    height:30px;
    
}

.menu-div{
     display: flex;
    align-items: center;
    justify-content: space-between;
        margin-top: 30px;
        margin-right: 50px;
}

.logo img{
    width: 100px;
    height:85px;
    margin-left: 80px;
      margin-bottom: 25px;    
      cursor: pointer;     

}

.menu-items {
    width: 550px;
   display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 20px;
  gap: 70px;
  margin-left: 150px;
  cursor: pointer;
  
}

.schedule-button {
  background-color: #01070e !important;
  color: white !important;
  padding: 9px 20px !important;
  border-radius: 30px !important;
  font-size: 16px !important;
  text-transform: none !important;
  width: 210px;

}

.button-container{
    margin-right: 10px;
}
